<nav class="ui menu">
    <header class="ui header item"> Gym App </header>

    <div class="right menu">
        <div class="ui simple dropdown item">
            &emsp;Menu&emsp;&emsp;<i class="orange sidebar icon"></i>
            <div class="menu">
                <a id="signup" class="item" href="/signup"> &emsp;Sign Up&nbsp;&nbsp;&nbsp;<i class="blue write icon"></i></a>
                <a id="login" class="item" href="/login"> &emsp;Login&emsp;&nbsp;&nbsp;<i class="green sign in icon"></i></a>
                <a id="home" class="item" href="/home"> &emsp;Home&emsp;&nbsp;<i class="red home icon"></i></a>
            </div>
        </div>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>