<!DOCTYPE html>


<form class ="ui staked segmont form" action="/trainerdashboard/bookassesment" method="POST">


    <div class="ui teal segment"
    <div class="column">
        <img class="ui image" src="/public/images/">

        <div class="field>"
    <div class="field">
        <div class="field">
        </div>
        <div class="field">
            <label> Numbers of assesments booked <label/>
            <input placeholder="assesments in the suite" type="number" name="suite" step="1" min="1" max="10" required>
        </div>
        <div class="field">
        </div>
    </div>
    <button class="ui blue submit button">Book Assesment </button>
</form>