<form class="ui inverted brown center aligned segment form" action="/trainerdashboard/editGoal" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Description</label>
            <textarea rows="2" name="description"></textarea>
        </div>
        <div class="field">
    <label>Date</label>
            <input placeholder="Date" name="date" value="${_goalsTrainer.date}">
        </div>
    </div>
    <img class="ui image" src="/public/images/giphy-facebook_s.jpg">