#{extends 'main.html' /}
#{set title:'Home' /}

#{oftenUsed.welcomemenu id:"about"/}

<section class="ui inverted yellow segment">
<section class="ui inverted raised center aligned middle aligned two column grid segment">
    <div class="column">
        <<iframe src="https://giphy.com/embed/kEKcOWl8RMLde" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/happy-crazy-homer-simpson-kEKcOWl8RMLde">via GIPHY</a></p>">
    </div>
    <div class="column">
        <header class="ui red header"><h2> My Gym App </h2>  </header>
        <p>Welcome to my Gym App
            Where you can track you progress on your journey to fitness<br>
           .<br>
        </p>
    </div>
</section>
</section>